In [89]:
import mysql.connector
from mysql.connector import errorcode
from mysql.connector.constants import ClientFlag
import pandas as pd

In [90]:
try:
  cnx = mysql.connector.connect(
  host="steveport.com",
  user="tranch5_sjr",
  port="3306",
  password="modernWater360",
  database="tranch5_milb"  
)
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)      
cursor = cnx.cursor()

In [91]:
TABLES = {}
TABLES['latestBatting'] = (
    "   CREATE TABLE `latestBatting` ("
    "  `playerName` VARCHAR(30),"
    "  `playerID` VARCHAR(12),"
    "  `age` INT,"
    "  `tm` varchar(60),"
    "  `league` varchar(2),"
    "  `G` INT, "
    "  `PA` INT, "
    "  `AB` INT, "
    "  `R` INT, "
    "  `H` INT, "
    "  `B2` INT, "
    "  `B3` INT, "
    "  `HR` INT, "
    "  `RBI` INT, "
    "  `SB` INT, "
    "  `CS` INT, "
    "  `BB` INT, "
    "  `SO` INT, "
    "  `TB` INT, "
    "  `GDP` INT, "
    "  `HBP` INT, "
    "  `SH` INT, "
    "  `SF` INT, "
    "  `IBB` INT "
    ") ENGINE=InnoDB")

In [92]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

Creating table latestBatting: already exists.

In [93]:
batFile = pd.read_csv('battingSnapshot.csv')

In [125]:
len('battingSnapshot.csv')

19

In [126]:
try:
  cnx2 = mysql.connector.connect(
  host="steveport.com",
  user="tranch5_sjr",
  port="3306",
  password="modernWater360",
  database="tranch5_milb"  
)
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)      
cursor2 = cnx2.cursor()

In [105]:
cnx